@tailwind base;
@tailwind components;
@tailwind utilities;

.height_img_carrousel {
    height: 35rem;
}
@media (max-width: 767px) {
    .height_img_carrousel {
       height: 20rem; /* Ajusta este valor según tus necesidades */
    }
   }
   .fade {
    animation: fade .35s ease-in-out;
}


.height_img_carrousel {
 transition: opacity 2s ease-in-out;
}

.height_img_carrousel.opacity-0 {
 opacity: 0;
}

